<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Game Developers Association</h3>

              <img src="assets/img/logo/gda_logo_dark.png" class="img-fluid" id="logo" alt="" loading="lazy">


              <div class="social-links mt-3">
                <a href="https://www.youtube.com/channel/UC4p7tpZuwc3-pTJNUv2OOdg" class="facebook"><i
                    class="bx bxl-youtube"></i></a>
                <a href="https://www.instagram.com/gda_crce/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/game-developers-association/" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="events.html">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="team.html">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="alumni.html">Alumni</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#gallery">Gallery</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Departments</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">Tech-Savvy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">Game Developers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">Designers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">Marketing and Media</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">Animators</a></li>
            </ul>

          </div>
          <div class="col-lg-2 col-md-6 footer-newsletter">
            <form action="" method="post">
              <img src="assets/img/home1.png" loading="lazy">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container" style="justify-content: center; display: flex;">
      <div class="copyright">
        &copy; Copyright <strong><span>GDA</span></strong>. All Rights Reserved by <a href="index.html">GDA</a>
      </div>
    </div>
</footer>
