<nav class="navbar navbar-expand-lg bg" style="background-color: rgb(12, 12, 12);">
    <div class="container-fluid d-flex justify-content-center position-relative" style="background-color: rgb(12, 12, 12);">
      <div class="logo" id="logo">
        <h1 class="m-0"><a href="index.html" class="d-flex align-items-center justify-content-center" style="text-decoration: none; gap: 10px;">
            <img src="assets/img/logo/logo.png" alt="GDA Logo" style="height: 40px; width: auto; object-fit: contain;"
              loading="lazy">
          </a></h1>
      </div>
      <button class="navbar-toggler position-absolute end-0 top-0 mt-2 me-2" style="border: none; outline: none; box-shadow: none;" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list" style="color: white; font-size: 2rem;"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto" id="head">
          <a class="nav-link" href="index.html">Home</a>
          <a class="nav-link" href="index.html#about">About</a>
          <a class="nav-link" href="events.html">Events</a>
          <a class="nav-link" href="index.html#gallery">Gallery</a>
          <a class="nav-link" href="team.html">Team</a>
          <a class="nav-link" href="alumni.html">Alumni</a>
          <a class="nav-link" href="index.html#contact">Contacts</a>
        </div>
      </div>
    </div>
</nav>
